* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button {
    cursor: pointer;
}

body {
    overflow-x: hidden
}


.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Img-fon.png");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center top;


}

.header-container {
    width: 100%;
    display: flex;
    padding: 32px 0 32px 0;
    justify-content: center;
    gap: 371px;
    align-items: center;
    max-width: 1170px;
    position: relative;
    left: -4px;
}

.navbar {
}

.logo {
    width: 125px;
    height: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav-link {
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px


}

a {
    text-decoration: none;
}

.nav-link:visited {
    color: #FFFFFF;
}

.get-tickets {
    display: flex;
    padding: 19px 38px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #ffffff;
    color: #381DDB;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 18px;

}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-checkbox {
    display: none;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
}
.main-container{
    background: #2f19bb;
    padding: 50px;
}
.error{
    font-weight: bold;
    font-size: 36px;
    color: red;
}
.main-container-text{
    font-family: Montserrat, serif;
    font-size: 36px;
    color: white;

}
.main input[type="text"], .main select {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.main input[type="text"]:focus, .main select:focus {
    outline: none;
    border-color: #2f19bb;
}
.catalog {
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.catalog-cart {
    width: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 10px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 3px 3px 10px #000;
}
.catalog-cart:hover {
    transform: scale(1.02);
}
.catalog-cart__img {
    width: 280px;
    height: 280px;
    margin: 0 0 10px 0;
}
.catalog-cart__text-wrapper {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
}
.catalog-cart__name {
    font-size: 18px;
}
.catalog-cart__price {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}
.catalog-cart__description {
    font-size: 16px;
    font-weight: 300;
}

.btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #c0392b;
}
.footer {
    display: flex;
    justify-content: center;
    background: #000;
    gap: 55px;
    padding-bottom: 26px;
    padding-top: 40px;
}

.footer-content {
    display: flex;
    width: 100%;
    max-width: 1175px;
    flex-direction: column;
    gap: 47px
}

.footer-content-info {
    display: flex;
    gap: 288px;

}

.footer-menu1 {
    display: flex;
    gap: 30px;
    align-items: center;
    white-space: nowrap;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    gap: 126px;
}

.footer-menu2 {
    display: flex;
    gap: 30px;
    align-items: center;

}

.footer-item {
}

.footer-link {
    color: #FFF;

    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.footer-text {
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;

    font-family: Raleway, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.3;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .header-container {
        gap: 36px;
    }

    .nav-list {
        gap: 10px;

    }

    .footer {
        padding: 20px;
    }

    .footer-content-info {
        flex-direction: column;
        gap: 47px;
    }

    .footer-social {
        flex-direction: column;
        gap: 47px;
    }
}
@media (max-width: 320px) {
    .header-container {
        position: relative;
        justify-content: flex-start;
        padding-left: 20px;
        gap: 100px;
    }

    .burger-checkbox {
        display: none;
    }

    .burger-menu {
        display: flex;
        top: 38px;


    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 101%;
        background: rgba(0, 0, 0, 0.5);
        padding: 20px 0;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        display: block;
        padding: 10px;
        color: white;
    }

    .burger-checkbox:checked ~ .navbar {
        display: flex;
    }

    .form-input {
        max-width: 290px;
    }

    .footer-menu1 {
        flex-direction: column;
        align-items: baseline;
    }
}
