@media (max-width: 768px) {
    .header-container {
        gap: 36px;
    }

    .nav-list {
        gap: 10px;

    }

    .countdown-time {
        font-size: 60px;
        padding-bottom: 150px;
        margin: 80px 0 80px 0;
    }

    .category-list-slider {
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories-content {
        padding-left: 20px;
    }

    .component-list-slider-block {
        padding: 70px 100px 30px 40px;
    }

    .about-content {
        gap: 30px;
    }

    .about-image1 {
        height: 400px;
        width: 400px;
        top: -40px;
        left: 20px;
    }

    .about-image2 {
        height: 400px;
        width: 400px;
        margin-left: 50px;
    }

    .about-text {
        gap: 73px;
    }

    .about-text-info {
        padding-top: 0;
    }

    .about-description {
        max-width: 300px;
    }

    .singers-content {
        flex-direction: row-reverse;
        padding-left: 20px;
        gap: 0;
    }

    .singers-content-info {
        display: flex;
        flex-direction: column;
        gap: 73px;
        padding-top: 77px;
    }

    .singer-images {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .singer-container {
        width: 90%;
        box-shadow: 0 2px 2px 0 rgba(56, 29, 219, 0.01);
    }

    .singer-container::before {
        width: 190px;
        height: 80px;
        filter: blur(50px);
    }

    .singer-container img {
        width: 100%;
        height: auto;
    }

    .singer-container1 {
        transform: translateY(80px);
    }

    .singer-container2 {
        transform: translateX(-12px);
    }

    .singer-container3 {
        transform: translateY(-20px);
    }

    .singer-container4 {
        transform: translateY(-70px);
        left: -12px;
    }

    .schedule-title {
        padding-left: 20px;
    }

    .schedule-header {
        display: none;
    }

    .event {
        flex-direction: column;
    }

    .tabs {
        padding: 62px 0 44px 20px;
    }

    .event-description {
        padding-left: 0;
        max-width: none;
    }

    .preview {
        justify-content: flex-start;
        margin-left: 0 !important;
    }

    .component-sell-block {
        padding: 25px 93px;
    }

    .component-sell {
        gap: 20px;
        justify-content: center;
    }

    .sponsors-list {
        gap: 40px 4px;
        padding: 0 20px;
    }

    .testimonial-card-stats {
        padding: 20px 20px 85px 20px;
    }

    .testimonial-text {
        max-width: 350px;
    }

    .quotes-open {
        left: 0;
    }

    .quotes-close {
        left: 0;
    }

    .best-shots-content {
        padding-left: 20px;
    }

    .best-shots-gallery {
        padding-bottom: 10px;
    }

    .best-shots-card-img-photo {
        width: 200px;
        aspect-ratio: 1/1;
    }

    .best-shots-card {
        width: 80%;
        padding-left: 20px;
    }

    .btn-best-shots1 {
        display: none;
    }

    .btn-best-shots2 {
        display: none;
    }

    .contact-us {
        flex-direction: column;
    }

    .contact-info {
        padding: 20px;
    }

    .contact-form {
        padding: 20px;
    }


    .footer {
        padding: 20px;
    }

    .footer-content-info {
        flex-direction: column;
        gap: 47px;
    }

    .footer-social {
        flex-direction: column;
        gap: 47px;
    }
}